@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

.shadown-bird et-in-viewport-check et-in-viewport-pulse_special {
  animation: '3500ms ease 0s 1 normal forwards running pulse_special';
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-slideDownFade {
  animation: slideDownFade 1s ease forwards;
}

.animate-pulse {
  animation: pulse 2.5s infinite;
}

.animate-fadeIn {
  animation: fadeIn 1s ease forwards;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes border-flow {
  0% {
    border-color: #d8bfd8;
    box-shadow: 0 0 5px #d8bfd8;
  }
  50% {
    border-color: #d8bfd8;
    box-shadow: 0 0 10px #d8bfd8;
  }
  100% {
    border-color: #d8bfd8;
    box-shadow: 0 0 5px #d8bfd8;
  }
}

@keyframes takeoff {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  20% {
    transform: translateY(0px) rotate(-10deg);
  }
  40% {
    transform: translateY(-10px) rotate(10deg);
  }
  60% {
    transform: translateY(-20px) rotate(-10deg);
  }
  /* 80% {
    transform: translateY(-29px) rotate(10deg);
  } */
  /* 100% {
    transform: translateY(-50px) rotate(0deg);
  } */
}

.takeoff-animation {
  animation: takeoff 2s infinite forwards;
}

@keyframes bubbling {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bubbling-animation {
  animation: bubbling 1.5s infinite;
}

.border-flow-animation {
  animation: border-flow 2s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate 2s linear infinite;
}

#menuDropdown {
  transition: all 0.3s ease-in-out;
}

#menuToggle:focus + #menuDropdown {
  display: flex;
}

@media screen and (min-width: 1024px) {
  #menuDropdown {
    display: flex !important;
  }
}

@media (max-width: 768px) {
  #navbar {
    flex-direction: column;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 60px;
    right: 10px;
    border-radius: 5px;
    padding: 10px;
  }

  #navbar a {
    margin: 5px 0;
  }
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Slab:wght@700&display=swap');
